on:
  - pull_request
  - pull_request_target

jobs:
  debug:
    runs-on: ubuntu-latest

    steps:
      - id: debug
        run: |
          set -eu
          jq -n -S \$ENV
          jq -S . < "$GITHUB_EVENT_PATH"
